html { 
    background: url(../images-styles/antique-shop.jpg) no-repeat  center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  h1{
      position: absolute;
      left:20%;
      top:25%;
      font-size: 50px;
      color: rgb(255, 255, 153);
      font-family: Comic Sans MS, Comic Sans, cursive;
  }
  #introText{
      position: absolute;
      left:10%;
      top:40%;
      font-size: 20px;
      color: rgb(255, 255, 204);
  }
  #quote{
      position: absolute;
      left:21%;
      top:50%;
      font-size: 25px;
      color: rgb(255, 255, 204);
  }
  li{
      display: inline-block;
      float: right;
  }
  li a{
      text-decoration: none;
      float: right;
      font-size: 20px;
      margin-right: 20px;
      color:white;
  }
  li a:hover{
      color:rgb(255, 255, 153);
      font-weight: 700;
  }
 